.name{
    color: rgb(63, 158, 19);
}

.main{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    margin-right: 10vw;
    width: auto;
    margin-left: 10vw;

}

.title{
    display: flex;
    justify-content: center;
    align-items:center
}

.title button {
    margin-left: 2rem;
    height: 1.5rem;
}


.Column{
    display:flex;
    flex-direction: column;
    min-width: 20%;
    width: auto;
    background-color: bisque;
    align-items: center;
    padding: 3%;
    min-height: 40vh;
    border-radius: 5px;
    margin-left: 1rem;
    margin-right: 1rem;

    
}

.Column button{
    margin-bottom: 5%;
}

.Column h3{
    text-transform: uppercase;
    text-shadow: 3px;
    color: brown;
}


.card{
    margin-bottom: 1rem;
}